.flex-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: flex-start;
}
.flex-container-drag {
  cursor:move;
  display: flex;
  justify-content: flex-start;
}


.flex-container-column{
  display: flex;
  align-self: center;
  justify-content: center;
  min-width: 20%;
  max-width: 100%;
}
