{% extends "bootstrap/base.html" %}

{% block title %}Tarefas{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class "navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation<\span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Tarefas</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block content %}
<script>
    function callURL(tarId)
    {
        const req = new XMLHttpRequest();
        req.open("GET", "http://172.17.0.1:8000/update_priority/" + tarId);
        req.send();
        location. reload();
    }
</script>
<script>
    function changeColor(id, custo)
    {
        element = document.getElementById(id)
        if ( custo >= 1000)
            element.style.backgroundColor = '#E65100';
    }
</script>
<script>
    function markButton(id)
    {
        element = document.getElementById(id)

        if (window.getComputedStyle(element) == 'offset' )
        {
            element.style.borderStyle = 'inset';
        }
    }
</script>
<script>    
    function adjustTableHeaders(id)
    {
        // adjust swap
        var elementtd1=document.getElementById("td-swap"+id);
        var elementth1=document.getElementById("th-swap");
        if(elementtd1 == null || elementth1 == null)
        {
            return;
        }
        if (parseFloat(window.getComputedStyle(elementtd1).width) != parseFloat(window.getComputedStyle(elementth1).width))
        {
            elementth1.style.width=window.getComputedStyle(elementtd1).width;
        }
        // adjust nome
        elementtd1=document.getElementById("td-nome"+id);
        elementth1=document.getElementById("th-nome");
        if(elementtd1 == null || elementth1 == null)
        {
            return;
        }
        if (parseFloat(window.getComputedStyle(elementtd1).width) != parseFloat(window.getComputedStyle(elementth1).width))
        {
            elementth1.style.width=window.getComputedStyle(elementtd1).width;
        }
        // adjust data
        elementtd1=document.getElementById("td-data"+id);
        elementth1=document.getElementById("th-data");
        if(elementtd1 == null || elementth1 == null)
        {
            return;
        }
        if (parseFloat(window.getComputedStyle(elementtd1).width) != parseFloat(window.getComputedStyle(elementth1).width))
        {
            elementth1.style.width=window.getComputedStyle(elementtd1).width;
        }
        // adjust custo
        elementtd1=document.getElementById("td-custo"+id);
        elementth1=document.getElementById("th-custo");
        if(elementtd1 == null || elementth1 == null)
        {
            return;
        }
        if (parseFloat(window.getComputedStyle(elementtd1).width) != parseFloat(window.getComputedStyle(elementth1).width))
        {
            elementth1.style.width=window.getComputedStyle(elementtd1).width;
        }
    }
</script>

<div class="container">
    {% block page_content %} {% endblock %}
</div>
{% endblock %}
