{% extends "bootstrap/base.html" %}

{% block title %}Tarefas{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function atualizarOrdem(tarId, tarId2)
    {
        const req = new XMLHttpRequest();
        req.open("POST", "http://172.17.0.1:8000/update_priority/" + tarId + '/' + tarId2);
        req.onload = function() {
            if (req.status === 200) {
                console.log("Atualização de prioridade salva com sucesso!");
            } 
            else if(req.status === 404) {
                console.log(req.responseText);
            }
            else {
                console.log("Ocorreu um erro ao atualizar prioridade.");
            }
        };
        req.send();
    }
</script>
<script>
    var draggedItem = null;

    function escolher() {
            draggedItem = $(this);
    }
    function arrastar() {
            event.preventDefault();
    }
    function soltar() {
            if (draggedItem) {
                var draggedItemOrder = draggedItem.attr("order");
                var droppedItemOrder = $(this).attr("order");

                draggedItem.attr("order", droppedItemOrder);
                $(this).attr("order", draggedItemOrder);

                var previousItem = $(this).previousItem;
                if (draggedItem.index() > $(this).index()){
                    draggedItem.insertBefore($(this));
                }
                else{
                    draggedItem.insertAfter($(this));
                }
                atualizarOrdem(draggedItem.attr("id"), $(this).attr("id"));

                draggedItem = null;
            }
    }
    $(document).ready(function() {
        $(".flex-container-drag").on("dragstart", escolher).on("dragover", arrastar).on("drop", soltar).on("touchstart",escolher).on("touchmove",arrastar).on("touchend",soltar);
    });
</script>
<script>
    function changeColor(id, custo)
    {
        element = document.getElementById(id)
        if ( custo >= 1000)
            element.style.backgroundColor = '#E65100';
    }
</script>
<div class="container">
    {% block page_content %} {% endblock %}
</div>
{% endblock %}
