{% extends "base.html" %}

{% block page_content %}
<div class="starter-template" style="text-align: center"></div>
{% include "adicionarTarefa.html" %}
<link rel="stylesheet" href="./main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 
<body>
<div class="flex-table">
    <h3>Lista de tarefas</h3>
    <small>Tarefas com custo maior que 5000 recebem cor para destaque</small>
    <div class="flex-container" id="header" style="justify-content: left">
        <div class="flex-container-column"><h4>Tarefa</h4></div>
        <div class="flex-container-column"><h4>Data</h4></div>
        <div class="flex-container-column"><h4>Custo</h4></div>
        <div class="flex-container-column"><button type="button" data-toggle="modal" class="btn-sm btn-primary" data-target="#insert_tarefa">Insira uma tarefa</button></div>
    </div>
    {% for tarefa in tarefas %}
    <div class="flex-container-drag" id="{{tarefa['tarId']}}" order = {{tarefa['ordem']}} draggable=true >
        <script type="text/javascript">
            changeColor({{ tarefa['tarId'] }}, {{ tarefa['custo'] }});
        </script>
        <div class="flex-container-column">{{ tarefa.tarNome }}</div>
        <div class="flex-container-column">{{ tarefa.dataLimite.strftime('%d-%m-%Y') }}</div>
        <div class="flex-container-column">{{ tarefa.custo }}</div>
        <div class="flex-container-column">
            <button type="button" class="btn-sm btn-success" data-toggle="modal"
            data-target="#update_tarefa_{{tarefa['tarId']}}" style="margin-right: 2px">Editar</button>
            <button type="button" class="btn-sm btn-danger" data-toggle="modal"
            data-target="#delete_tarefa_{{tarefa['tarId']}}">Deletar</button>
        </div>
    </div>
    {% include "editarTarefa.html" %}
    {% include "removerTarefa.html" %}
    {% endfor %}
</div>
</body>
<script> let items = document.querySelectorAll('div.flex-container-drag');
    items.forEach(function (item) {
        item.addEventListener('dragstart', handleDragStart);
        item.addEventListener('dragend', handleDragEnd)
    }
</script>

{% endblock %}