{% extends "base.html" %}

{% block page_content %}
<div class="starter-template">
    <h1>
        Lista de tarefas
    </h1>
</div>

<button type="button" data-toggle="modal" class="btn btn-lg btn-primary" data-target="#insert_tarefa">Insira uma tarefa</button>
{% include "adicionarTarefa.html" %}
<div class="row">
    <div class="col-md-6">
        <table id="table-1" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Tarefa</th>
                    <th>Data limite</th>
                    <th>custo</th>
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
                {% for tarefa in tarefas %}
                <tr>
                    <td><button type="button" class="swap-button" data-toggle="modal"
                        data-target="#update_priority_{{tarefa['tarId']}}">Mover</button></td>
                    <td>{{ tarefa.tarNome }}</td>
                    <td>{{ tarefa.dataLimite }}</td>
                    <td>{{ tarefa.custo }}</td>
                    <td><button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#update_tarefa_{{tarefa['tarId']}}">Editar</button></td>
                    {% include "editarTarefa.html" %}
                    <td><button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#delete_tarefa_{{tarefa['tarId']}}">Deletar</button></td>
                    {% include "removerTarefa.html" %}
                    
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}